{% include base_path %}
{% assign paper = include.paper %}

<h4 class="archive__item-title" itemprop="headline">
  <a href="{{ base_path }}/papers/{{ paper.filename }}" rel="permalink" target="_blank">{{ paper.title }}</a>
</h4>

<!-- {% if paper.category == "paper" %}
<div class="small">
  <a href="{{ base_path }}/papers/{{ paper.filename }}" rel="permalink">[pdf]
  </a>
  {% if paper.code %}
  <a href="{{ paper.code }}" rel="permalink">[code]
  </a>
  {% endif %}
  {% if paper.talk %}
  <a href="{{ paper.talk }}" rel="permalink">[talk]
  </a>
  {% endif %}
  {% if paper.slides %}
  <a href="{{ paper.slides }}" rel="permalink">[slides]
  </a>
  {% endif %}
  {% if paper.blogpost %}
  <a href="{{ paper.blogpost }}" rel="permalink">[blog paper]
  </a>
  {% endif %}
</div>
{% endif %} -->

{% if paper.authors %}
<div class="small">{{ paper.authors }}</div>
{% endif %}

{% if paper.venue and paper.date %}
<div class="archive__item-venue">
  <i>{{ paper.venue }}</i>, {{ paper.date }}
</div>
{% elsif paper.venue %}
<div class="archive__item-venue">
  <i>{{ paper.venue }}</i>
</div>
{% elsif paper.date %}
<div class="archive__item-venue">{{ paper.date }}</div>
{% endif %}

{% for award in paper.awards %}
<div class="archive__item-award">&#10024; {{ award }}</div>
{% endfor %}

{% for adoption in paper.adoptions %}
<div class="archive__item-adoption">&#10024; {{ adoption }}</div>
{% endfor %}